[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simple-http-server = "*"
datasets = "*"
sentence-transformers = "*"
setfit = "*"
pymorphy2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
